<div style="height: 30px"></div>
<div class="bg-container">
    <div class="row">
        <div class="col-md-5 text-white">
            <h2>Smart Emergency Reporting</h2>
            <h2>WELCOME</h2>
            <p>This is a web based smart emergency reporting system, where anyone can create an emergency
                by the click of a button
            </p>
            <div class="">
                <button class="btn btn-warning btn-lg text-white">REPORT NOW</button>
                <button class="btn btn-primary btn-lg">SIGNUP NOW</button>
            </div>
        </div>
    </div>
</div>
